.prompttitle {
    display: flex;
    justify-content: left;
    padding-left: 20px;
}

.inputprompts {
    display: flex;
    gap: 5%
}

.promptinput {
    padding: .25em;
}

.keyCell {
    display: flex;
    align-items: center;
}
.current {
    border-bottom: 1px solid grey
}

.actionTooltipPanel {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}