.App {
  text-align: center;
}

.MainSection {
  display: flex;
  flex-direction: row;
}

.container {
  box-shadow: 0px 0px .3em 0em grey;
    border-radius: .25em;
}

.panel {
  min-height: 90vh;
}

.leftwrapper {
  width: 30%;
}

.mainwrapper {
  width: 40%;
}

.rightwrapper {
  width: 30%;
}

.lPanel {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.rPanel {
  border-bottom: 1px solid cyan;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tBar {
  border-bottom: 1px solid black;
  height: 10vh;
  display: flex;
  flex-direction: row;
}

.mPanel {
  border-bottom: 1px solid cyan;
  width: 100%;
  height: 100%;
  /* border-left: 1px solid lightgray;
  border-right: 1px solid lightgray; */
  display: flex;
  flex-direction: column;
  align-items: center ;
  gap: 2em;
}


.pRow th{
  font-weight: normal;
}

.inGameTri {
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid green;
  margin-right: 15px;
  display: inline-block;
}
.outGameTri {
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  margin-right: 15px;
  display: inline-block;
}
.rosterPanel {
  margin-top: 1em;
  width: 90%;
  margin-bottom: 30px;
}

.headerRow th {
  font-weight: bold;
  padding-bottom: 10px;
}

.scoreboard {
  width: 60%;
  height: 20%;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Quantico';
}
.currentpossession {
  width: 90%;
  min-height: 30%
}

.inputpanel {
  width: 90%;
  height: 20%;
}

.rostercontainer {
  width: 90%;
  margin-top: 2em;
  height: 38%
}

.keytooltip {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.regionTooltip {
  width: 70%;
}

.playtooltip {
  width: 40%;
  height: 100%;
}

.actiontooltip {
  width: 40%;
  height: 100%;
  text-align: left;
  padding-left: 10px;
}

.actionlog {
  width: 90%;
  min-height: 10em;
}

.toolTipLbl {
  margin: 2px;
}

