.App {
  text-align: center;
}

.MainSection {
  display: flex;
  flex-direction: row;
}

.lPanel {
  border: 1px solid black;
  width: 30vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rPanel {
  border: 1px solid black;
  width: 10vw;
  height: 85vh;
}

.tBar {
  border: 1px solid black;
  height: 15vh;
}

.mPanel {
  border: 1px solid black;
  width: 60vw;
}

.pRowtrue th{
  background-color: lime;
  font-weight: normal;
}
.pRowfalse th{
  font-weight: normal;
}

.rosterPanel {
  width: 90%;
  margin-bottom: 30px;
}

.headerRow th {
  font-weight: bold;
  border-bottom: 3px solid black;
}