.App {
  text-align: center;
}

.MainSection {
  display: flex;
  flex-direction: row;
}

.lPanel {
  border: 1px solid black;
  width: 20vw;
  height: 85vh;
}
.rPanel {
  border: 1px solid black;
  width: 20vw;
  height: 85vh;
}

.tBar {
  border: 1px solid black;
  height: 15vh;
}

.mPanel {
  border: 1px solid black;
  width: 60vw;
}



